version: '3.8'

services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    environment:
      - CLUSTER_NAME=hadoop-cluster
    volumes:
      - namenode_data:/hadoop/dfs/name
    ports:
      - "9870:9870"   # NameNode UI
      - "9000:9000"
    networks:
      - hadoop

  datanode1:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode1
    environment:
      - SERVICE_PRECONDITION=namenode:9870
    volumes:
      - datanode1_data:/hadoop/dfs/data
    ports:
      - "9864:9864"
    networks:
      - hadoop

  datanode2:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode2
    environment:
      - SERVICE_PRECONDITION=namenode:9870
    volumes:
      - datanode2_data:/hadoop/dfs/data
    ports:
      - "9865:9864"
    networks:
      - hadoop

  datanode3:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode3
    environment:
      - SERVICE_PRECONDITION=namenode:9870
    volumes:
      - datanode3_data:/hadoop/dfs/data
    ports:
      - "9866:9864"
    networks:
      - hadoop

volumes:
  namenode_data:
  datanode1_data:
  datanode2_data:
  datanode3_data:

networks:
  hadoop: